<div ui-view class="">
    <div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Transaction Infomation</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Transaction</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active row" id="tab_1_1">                            
                                    <form role="form" id="createForm" name="createForm" novalidate ng-submit="vm.create(createForm)" >
                                        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && createForm.requirementType.$error.required)}">
                                            <label class="control-label">Requirement <span class="required-field">*</span></label>
                                            <select name="requirementType" ng-model="vm.model.requirementType" class="form-control" required>
                                                <option value="" disabled >Please Choose Type</option>
                                                <option ng-repeat="item in vm.requirementTypes" value="{{item.value}}" ng-selected="item.value == vm.model.requirementType">{{item.text}}</option>
                                            </select>
                                        </div> 
                                        <div class="form-group col-md-3" ng-class="{'has-error': (vm.showInvalid && createForm.amount.$error.required) || createForm.amount.$error.pattern}"} >
                                            <label class="control-label">Amount <span class="required-field">*</span></label>
                                            <input type="text" name="amount" placeholder="Amount" ng-keyup="vm.calVccAmount()" class="form-control" required ng-pattern="vm.numberRegx" ng-model="vm.model.amount"/>
                                            <label class="control-label" ng-show="createForm.amount.$error.pattern">* This field allow number</label>
                                        </div>
                                        <div class="form-group col-md-3" >
                                            <label class="control-label">VCC</label>
                                            <input type="text" ng-show="vm.model.amount >= 0" disabled value="≈ {{vm.model.vccAmount}} VCC" class="form-control"/>
                                        </div>
                                        <div class="form-group col-md-12" ng-class="{'has-error': (vm.showInvalid && createForm.Code.$error.required)}">
                                            <label class="control-label">Code <span class="required-field">*</span></label>
                                            <input type="text" placeholder="Code" class="form-control" name="code" ng-model="vm.model.code" autocapitalize="off" required/>
                                        </div> 
                                        <div class=" col-md-12">
                                            <div class="margin-top-20">
                                                <button class="btn green grreen-haze" type="submit" ng-disabled="createForm.$invalid">
                                                    Create
                                                </button> 
                                                <button class="btn default" type="button" ng-click="vm.cancel()">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                            </div>
                        </div>
                    </div>

                    <div class="portlet light bordered tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Transaction Histories</span>
                            </div>
                            <div class="actions">
                                <div class="padding-top-2">
                                    <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
                                </div>
                            </div>
                        </div>
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light">
                                <thead class="flip-content">
                                    <tr class="uppercase">
                                        <th class="width5" class="text-center"> No </th>
                                        <th> Requirement </th>
                                        <th class="text-center"> Code </th>
                                        <th class="text-center"> Amount </th>
                                        <th class="text-center"> Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.pagedItems[vm.paging.currentPage]">
                                        <td class="text-center"> {{$index + 1}}</td>
                                        <td> {{vm.displayType(item.requirementType)}} </td>
                                        <td class="text-center"> {{item.code}} </td>
                                        <td class="text-center"> {{item.amount}} </td>
                                        <td class="text-center" ng-if="item.status == 1">Approved</td>
                                        <td class="text-center" ng-if="item.status == 0">New</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
