<div class="portlet light bordered tasks-widget">
    <div class="portlet-title">
        <div class="inputs">
            <div class="portlet-input input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier" ng-click="vm.executeSearchItems(vm.keyword)"></i>
                    <input style="width: 280px;" type="text" class="form-control form-control-solid" ng-model="vm.keyword" placeholder="search by email" ng-keydown="$event.keyCode === 13 && vm.executeSearchItems(vm.keyword)">
                </div>
            </div>
        </div>
        
    </div>
    <div class="portlet-title">
        <div class="caption width70 row">
            <div class="col-md-3 no-padding-right">
                <select class="bs-select form-control" id="action-list">
                    <option value="0">Bulk Actions</option>
                    <option value="delete">Delete</option>
                </select>
            </div>
            <div class="col-md-1 no-padding-left">
                <button type="button" class="btn green" ng-click="vm.applyAction('select-item','action-list')">Apply</button>
            </div>
            <div class="col-md-3 text-center">
                <a type="button" href="#" ng-click="vm.addNew()" class="btn blue">Add New</a>
            </div>
        </div>
        <div class="actions">
            <div class="padding-top-2">
                <list-paging ng-model="vm.paging" change-page="vm.changePage"></list-paging>
            </div>
        </div>
    </div>
    <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead class="flip-content">
                <tr class="uppercase">
                    <th class="width5">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" id="select-all-item" ng-click="vm.selectAllItem('select-all-item','select-item')"/>
                            <span></span>
                        </label>
                    </th>
                    <th class="text-center"> No </th>
                    <th> Requirement </th>
                    <th class="text-center"> Code </th>
                    <th class="text-center"> Amount </th>
                    <th class="text-center"> Status </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.pagedItems[vm.paging.currentPage]">
                    <td>
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="select-item" value="{{item.$id}}" class="chk-select-item"/> 
                            <span></span>
                        </label>
                    </td>
                    <td class="text-center"> {{$index + 1}}</td>
                    <td> {{vm.displayType(item.requirementType)}} </td>
                    <td class="text-center"> {{item.code}} </td>
                    <td class="text-center"> {{item.amount}} </td>
                    <td class="text-center" ng-if="item.status == 1">Approved</td>
                    <td class="text-center" ng-if="item.status == 0">New</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>