#pages{
	.c-widget{
		padding:  12px!important;

		.c-content-tab-1 .nav > li.active > a{
		    border-bottom: 3px solid #32c5d2!important;
		}
		.nav-tabs > li.active > a{
			border-top: 0px!important;
		    border-left: 0px!important;
		    border-right: 0px!important;
		}
	}

	.activeLink {
		text-decoration: underline;
		font-weight: bold;
	}
}

