<div ui-view class="">
    <div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Mail Infomation</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Mail Info</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active row" id="tab_1_1">                            
                                    <form role="form" id="createForm" name="createForm" novalidate ng-submit="vm.create(createForm)" >
                                        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && createForm.toEmail.$error.required) || (createForm.toEmail.$error.pattern || createForm.toEmail.$error.email)}">
                                            <label class="control-label">To Email <span class="required-field">*</span></label>
                                            <input type="email" placeholder="To Email" class="form-control" name="toEmail" ng-model="vm.mail.toEmail" required  autocapitalize="off" ng-pattern="emailRegx"/>
                                            <label class="control-label" ng-show="createForm.toEmail.$error.pattern || createForm.toEmail.$error.email">* This is not valid</label>
                                        </div> 
                                        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && createForm.toName.$error.required) || createForm.toName.$error.pattern}"} >
                                            <label class="control-label">To Name <span class="required-field">*</span></label>
                                            <input type="text" name="toName" placeholder="To Name" class="form-control" required ng-pattern="nameRegx" ng-model="vm.mail.toName"/>
                                            <label class="control-label" ng-show="createForm.toName.$error.pattern">* This field does not allow special characters</label>
                                        </div>
                                        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid) || (createForm.replyTo.$error.pattern || createForm.replyTo.$error.email)}">
                                            <label class="control-label">Reply To (optional) </label>
                                            <input type="email" placeholder="Reply To" class="form-control" name="replyTo" ng-model="vm.mail.replyTo" autocapitalize="off" ng-pattern="emailRegx"/>
                                            <label class="control-label" ng-show="createForm.replyTo.$error.pattern || createForm.replyTo.$error.email">* This is not valid</label>
                                        </div> 
                                        <div class="form-group col-md-6" ng-class="{'has-error': (vm.showInvalid && createForm.fromName.$error.required) || createForm.fromName.$error.pattern}">
                                            <label class="control-label">From Name <span class="required-field">*</span></label>
                                            <input type="text" name="fromName" placeholder="From Name" class="form-control" required ng-pattern="nameRegx" ng-model="vm.mail.fromName"/>
                                            <label class="control-label" ng-show="createForm.fromName.$error.pattern">* This field does not allow special characters</label>
                                        </div>
                                        <div class="form-group col-md-12" ng-class="{'has-error': (vm.showInvalid && createForm.subject.$error.required)}">
                                            <label class="control-label" >Bcc (optional) </label>
                                            <input name="subject" type="text" placeholder="Bcc" ng-model="vm.mail.bcc" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-12" ng-class="{'has-error': (vm.showInvalid && createForm.subject.$error.required)}">
                                            <label class="control-label" >cc (optional) </label>
                                            <input name="subject" type="text" placeholder="cc" ng-model="vm.mail.cc" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-12" ng-class="{'has-error': (vm.showInvalid && createForm.subject.$error.required)}">
                                            <label class="control-label" >Subject <span class="required-field">*</span></label>
                                            <input name="subject" type="text" placeholder="Subject" required ng-model="vm.mail.subject" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-12" ng-class="{'has-error': (vm.showInvalid && createForm.content-editor.$error.required)}">
                                            <label class="control-label" >Content <span class="required-field">*</span></label>   
                                            <summernote ng-model="vm.mail.content" name="content-editor" required config="options"></summernote>
                                        </div>
                                        <div class=" col-md-12">
                                            <div class="margin-top-20">
                                                <button class="btn green grreen-haze" type="submit" ng-disabled="createForm.$invalid">
                                                    Add
                                                </button> 
                                                <button class="btn default" type="button" ng-click="vm.cancel()">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
    <div class="col-md-6">
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
</div>
